  .calculator{
    flex: 0 0 95%;
   }

  .screen{
    flex: 95%;
    font-size: 6rem;
    padding: 0.5rem;
    height: 6rem;
    background: rgb(41,41,56);
    color: white;
    border: 1px solid black;
  }
  
  .buttons{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
  }
  
button{
  flex:0 0 25%;
  border: 1px solid black;
  padding: 0.25rem 0;
  transition: all 2s ease;
}

button:hover{
  background: blue;
}
  .btn-yellow{
    background: rgb(245,146,62);
    color: white;
  }
  .btn-grey{
    background: rgb(224,224,224);
  }
  .btn,.btn-equal,.btn-clear{
    font-size: 4rem;
  }
  .btn-equal{
    background: green;
  }
  .btn-clear{
    background: red;
  }

div {
  border-radius: 15px;
  justify-content: center;
}

h1 {
  text-shadow: 2px 2px white;
  text-transform: uppercase;
  text-align: center;
}

.Navbar {
  border-radius: 15px;
  background-color: lightgrey;
  overflow: hidden;
  border-style: solid;
  margin: 1rem;
  text-align: center;
  justify-content: center;
  height: max-content;
  flex-wrap: wrap;
  display: flex;
}

.Navbar a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  width: 9%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
}

.Navbar a:hover {
  background-color: white;
}